@layer utilities {
    @variants responsive {
        @variants hover, focus {
            .grayscale {
                filter: grayscale(1);
            }

            .filter-white {
                filter: brightness(0) invert(1);
            }

            .filter-none {
                filter: none;
            }
        }
    }
}
