@layer base {
    @font-face {
        font-family: 'Gotham-Rnd';
        src: url('/static/fonts/GothamRounded-Book.woff2') format('woff2'),
             url('/static/fonts/GothamRounded-Book.woff2') format('woff');
        font-weight: normal;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: 'Gotham-Rnd';
        src: url('/static/fonts/GothamRounded-Bold.woff2') format('woff2'),
             url('/static/fonts/GothamRounded-Bold.woff') format('woff');
        font-weight: bold;
        font-style: normal;
        font-display: swap;
    }
}

